<div class="footer__container">
    <img src="{{logo.src}}" class="footer__logo">
    <div class="footer__contacts">
        Contacts:
        {{#each contacts}}
        <div id="{{id}}" href="{{href}}" class="footer__contacts__item">
            <img id="{{icon.id}}" src="{{icon.src}}" class="footer__contacts__item__icon">
        </div>
        {{/each}}
        <div class="footer__company__name">
            {{company.name}}
        </div>
    </div>
</div>