<div class="header__container">
    <div class="header__logo">
        WS
    </div>
    <div id="header__item" class="header__item">{{item}}</div>
</div>

{{!-- Btn --}}
<div id="header__item__button" class="header__item__button" href="{{href}}">{{text}}</div>

{{!-- Profile --}}
<div class="header__item__profile" id="header__item__profile" href="/profile">
    <img src="{{avatar}}" alt="" class="header__item__profile__avatar">
    <div class="header__item__profile__name">{{name}}</div>
</div>
<div class="header__item__settings" id="header__item__settings">
    <img src="" alt="" class="header__item__settings__icon">
</div>