<div class="community-data" data-community_id="{{data.id}}" data-owner_id="{{data.owner_id}}">
    <img src="{{data.avatar}}" alt="" class="community-data__avatar">
    <div class="community-data__container">
        <div class="community-data__name">
            {{data.name}}
        </div>
        {{!-- <div class="community-data__category"> --}}
            {{!-- {{data.category}} --}}
        {{!-- </div> --}}
        <div class="community-data__description">
            {{data.description}}
        </div>
    </div>
</div>