<div class="header-item-profile" id="header__item__profile" href="{{href_profile}}">
    <img src="{{avatar}}" alt="" class="header-item-profile__avatar">
    <div class="header-item-profile__name">
        {{first_name}}
    </div>
</div>
<div class="header-item-settings" id="header__item__settings" href="{{href_settings}}">
    <img src="{{settings_icon}}" alt="" class="header-item-settings__icon">
</div>
<div class="header-item-settings" id="header__item__theme" data-action="change_theme">
    <img src="{{theme_icon}}" alt="" class="header-item-theme__icon" data-action="change_theme">
</div>