<div class="feed-card-create" {{#if data}} id="{{data.id}}" {{/if}} {{#if
    community_id}}data-community_id="{{community_id}}" {{/if}}>
    <div class="feed-card-create-author">
        <img src="{{user.avatar}}" alt="" class="feed-card-create-author__avatar">
    </div>
    <div class="feed-card-create__content">
        <textarea class="feed-card-create__text">{{#if data}}{{data.text}}{{/if}}</textarea>
        <div class="feed-card-create__attachments"></div>

        <div class="feed-card-create__tools feed-card-create__tools--row">
            <button class="feed-card-create-button feed-card-create-button--big feed-card-create-button--red"
                data-action="close_overlay">
                <img class="feed-card-create-button__icon" src="../src/img/x_icon.svg" alt="">
                <div class="feed-card-create-button__text">
                    Закрыть
                </div>
            </button>

            {{#if data}}
            <button class="feed-card-create-button feed-card-create-button--big" data-action="sumbit_edited_post">
                <img class="feed-card-create-button__icon" src="../src/img/ok_icon.svg" alt="">
                <div class="feed-card-create-button__text">
                    Сохранить
                </div>
            </button>
            {{else}}
            <button class="feed-card-create-button feed-card-create-button--big" data-action="sumbit_new_post">
                <img class="feed-card-create-button__icon" src="../src/img/send_icon.svg" alt="">
                <div class="feed-card-create-button__text">
                    Опубликовать
                </div>
            </button>
            {{/if}}
        </div>
    </div>
    <div class="feed-card-create__tools">
        <button class="feed-card-create-button feed-card-create-button--small feed-card-create-button__smiles">
            <img class="feed-card-create-button__icon" src="../src/img/smile_icon.svg" alt="">
            {{{smiles}}}
        </button>
        <button class="feed-card-create-button feed-card-create-button--small" data-action="add_image">
            <img class="feed-card-create-button__icon" src="../src/img/image_icon.svg" alt="">
        </button>
    </div>
</div>