<div class="feed-card" data-action="card_page" data-feed_card_id="{{id}}">
    <div class="feed-card__header">
        <div class="feed-card-author" data-action="profile_page" data-data="{{author.id}}">
            <img src="{{author.avatar}}" alt="" class="feed-card-author__avatar" />
            <div>
                <div class="feed-card-author__name">{{author.first_name}} {{author.last_name}}</div>
                <div class="feed-card__date">{{date}}</div>
            </div>
        </div>
        {{#if showTools}}
        <div class="feed-card__buttons">
            <img src="../src/img/pen_icon.svg" alt="" class="feed-card__button feed-card__button__edit"
                data-action="edit" />
            <img src="../src/img/trash_icon.svg" alt="" class="feed-card__button feed-card__button__edit"
                data-action="delete" />
        </div>
        {{/if}}
    </div>
    <div class="feed-card__content"> {{text}}</div>
    <div class="feed-card__attachments">
        {{#each attachments as |attachment|}}
        <img src="{{attachment.src}}" alt="image" class="feed-card__picture" />
        {{/each}}
    </div>
    <div class="feed-card__footer">
        <div class="feed-card-likes">
            <div id="feed-card-likes__count-{{id}}" class="feed-card-likes__count">{{likes}}</div>
            <div class="feed-card-likes__count">likes</div>
        </div>
        <div class="feed-card__buttons">
            <img src={{#if isLikedIcon}}"../src/img/like_filled_icon.svg"{{else}}"../src/img/like_icon.svg"{{/if}}
                alt="like-button" class="feed-card__button feed-card__button__{{isLiked}}" data-action="like" />
            <img src="../src/img/comment_icon.svg" alt="" class="feed-card__button" data-action="comment" />
            {{!-- <img src="../src/img/link_icon.svg" alt="" class="feed-card__button" data-action="share" /> --}}
        </div>
    </div>
</div>