<div class="dialog" data-dialog_id={{dialog_id}} data-user_id="{{user_id}}" data-action="open-dialog">
        <img class="dialog-user__avatar" src={{user_avatar}}>
        <div class="dialog__wrapper">
                <div class="dialog-user__name">
                        {{user_first_name}} {{user_last_name}}
                </div>
        </div>
</div>